@import url(https://db.onlinewebfonts.com/c/0dd7edde115ef38e7def4b16e93b5884?family=Harmonia+Sans+W01+Regular);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Harmonia Sans W01 Regular";
  /* border: 1px solid rebeccapurple; */
}

:root {
  --color-primary: #7069bc;
  --color-secondary: #ccbdff;
  --color-text-primary: #2e2a39;
  --color-text: #2e2a39bf;
  --color-paragraph: rgba(46, 42, 57, 0.75);
  --color-heading: rgba(46, 42, 57, 0.35);
  --color-background: #fcfbff;
}

.container {
  max-width: 1210px;
  width: calc(100% - 24px);
  margin-inline: auto;
}

/* ===================== PRODUCT DETAILS ===================== */

.product-details {
  background: var(--color-background);
  width: 100%;
  padding: 105px 0 64px 0;
}

.product-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  justify-content: space-between;
  column-gap: 25px;
}

.product-images-container {
  display: flex;
  flex-direction: column;
  row-gap: 29px;
}

.product-details-container {
  display: flex;
  flex-direction: column;
}

.product-review-sections {
  display: flex;
  align-items: center;
  column-gap: 17px;
}

.product-review-icons {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.star-icons {
  width: 16px;
  height: 16px;
}

.review-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}

.product-heading-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #d8d8d8;
}

.product-heading {
  font-weight: 700;
  line-height: 100%;
  font-size: 25px;
  margin: 17px 0 20px 0;
}

.price {
  font-weight: 700;
  font-size: 25px;
  color: var(--color-primary);
}

.product-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  margin: 22px 0 35px 0;
}

.product-info-container {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

.product-info {
  display: inline-flex;
  align-items: center;
  column-gap: 14px;
  font-weight: 400;
  font-size: 16px;
}

.product-reviwe-img {
  width: 22px;
  height: 22px;
}

.product-bundle-heading {
  font-size: 18px;
  font-weight: 600;
  margin-top: 45px;
  margin-bottom: 15px;
}

.product-bundle-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.product-bundle-card {
  border: 1px solid var(--color-primary);
  padding: 22px 19px;
}

.pack-info {
  display: flex;
  align-items: center;
  column-gap: 38px;
}

.pack-content {
  display: flex;
  align-items: center;
  column-gap: 11px;
}

.pack-title {
  font-weight: 600;
  font-size: 16px;
}

.price-circle {
  border-radius: 50%;
  border: 2px solid var(--color-primary);
  width: 12px;
  height: 12px;
}

.product-saving-container {
  display: flex;
  justify-content: center;
}

.product-saving-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.product-saving-title {
  font-weight: 400;
  font-size: 11px;
}

.product-saving-price {
  font-weight: 700;
  font-size: 12px;
  color: rgba(46, 42, 57, 0.75);
}

.product-bundle-card-2 {
  background-color: #f4f0ff;
  padding: 22px 19px;
}

.price-circle-2 {
  width: 12px;
  height: 12px;
  background-color: var(--color-primary);
  border-radius: 50%;
}

.active {
  background-color: #f4f0ff;
  border: none;
}

.active-circle {
  background: var(--color-primary);
}

.btn-primary {
  background-color: var(--color-primary);
  color: white;
  width: 100%;
  padding: 22px 0;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  margin: 40px 0 45px 0;
}

.company-policy-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 64px;
  margin-bottom: 60px;
}

.company-policy-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 14px;
}

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--color-secondary);
}

.company-policy-title {
  color: var(--color-text-primary);
  font-weight: 600;
  font-size: 16px;
}

.product-faq-container {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.product-faq-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.product-faq-title {
  color: var(--color-text-primary);
  font-weight: 600;
  font-size: 20px;
}

/* ===================== SWIPER STYLING ===================== */

.product-gallery {
  width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

swiper-container {
  width: 100%;
  display: block;
  overflow: hidden;
}

.mySwiper {
  width: 590px;
  height: 567px;
  overflow: hidden;
}

.mySwiper swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper swiper-slide img {
  width: 590px;
  height: 567px;
  object-fit: cover;
}

.mySwiper2 {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  column-gap: 25px;
}

.mySwiper2 swiper-slide {
  width: 115px !important;
  height: 115px !important;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.3s ease;
}

.mySwiper2 swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper2 .swiper-slide-thumb-active {
  opacity: 1;
}

/* BRAND SECTION DESIGN START */
.brand-heading-title {
  font-weight: 600;
  font-size: 55px;
  line-height: 140%;
  letter-spacing: 0%;
  color: rgba(46, 42, 57, 0.35);
  margin: 135px 0 34px 0;
  max-width: 1002px;
}

.brand-heading-color {
  color: var(--color-text-primary);
}

.brand-subtitle-container {
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.dash {
  display: block;
  width: 45px;
  height: 1px;
  background-color: var(--color-primary);
}

.brand-subtitle {
  color: var(--color-primary);
  font-size: 20px;
  font-weight: 600;
}

.brand-content-container {
  display: grid;
  grid-template-columns: minmax(250px, 383px) minmax(300px, 418px) minmax(
      250px,
      367px
    );
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  margin: 89px 0 135px 0;
}

.brand-contents {
  display: flex;
  flex-direction: column;
  row-gap: 65px;
}

.brand-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: var(--color-secondary);
}

.brand-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bonas-title {
  font-size: 22px;
  font-weight: 600;
  margin: 20px 0 10px 0;
}
.bonas-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  letter-spacing: 0%;
  color: rgba(46, 42, 57, 0.75);
  text-align: center;
}

.brand-image-container {
  width: 418px;
  height: 591px;
  overflow: hidden;
}

.brand-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 191px;
  display: block;
}
/* BRAND SECTION DESIGN END */

/* BRAND LOGO DESIGN START */
.brand-logo-heading {
  display: flex;
  justify-content: center;
}

.brand-heading {
  color: var(--color-text-primary);
  font-weight: 700;
  font-size: 35px;
}

.brand-logo-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 84px;
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;
  width: 90%;
  margin-top: 30px;
}
/* BRAND LOGO DESIGN END */

/* BRAND VIDEO SECTION DESIGN START */

.brand-video-section {
  padding: 135px 0;
}

.brand-video {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.brand-video-file {
  width: 100%;
  height: 542px;
  display: block;
  object-fit: cover;
}

.brand-play-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: var(--color-primary);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 2;
  transition: all 0.3s ease;
}

.play-btn-icon {
  width: 40px;
  height: 40px;
}

.brand-play-btn:hover {
  transform: translate(-50%, -50%) scale(1.05);
  opacity: 0.9;
}

.brand-video.playing .brand-play-btn {
  opacity: 0;
  pointer-events: none;
}

/* BRAND VIDEO SECTION DESIGN END */

/* BLEMISH SECTION DESIGN START */

.blemish-heading-container {
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  max-width: 1035px;
  margin-left: auto;
}

.blemish-heading {
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0%;
  font-size: 55px;
  color: var(--color-text-primary);
  margin-bottom: 34px;
}

.gentle-and-soothing-title {
  font-weight: 700;
}

.blemish-sub-heading-content {
  display: flex;
  align-items: center;
  column-gap: 17px;
}

.border-dashed {
  width: 45px;
  display: block;
  height: 1px;
  background-color: var(--color-primary);
}

.blemish-sub-heading {
  color: var(--color-text-primary);
  font-weight: 600;
}
/* BLEMISH SECTION DESIGN END */

/* ABOUT PRODUCT SECTION DESIGN START */
.about-products-section {
  margin: 135px 0;
}

.about-products-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.product-card {
  display: flex;
  align-items: center;
  column-gap: 23px;
  background: #fbfaff;
  padding: 26px;
}

.about-product-image {
  width: 207px;
  height: 243px;
  overflow: hidden;
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.product-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 12px;
}

.product-title {
  line-height: 140%;
  font-size: 18px;
  color: var(--color-text-primary);
}

.product-content {
  list-style: none;
  margin-bottom: 8px;
}

.product-content li {
  color: var(--color-text-primary);
  line-height: 160%;
  font-size: 12px;
  position: relative;
  padding-left: 20px;
  margin-bottom: 6px;
}

.product-content li::before {
  content: url(/assets/mdi_tick-circle-outline.svg);
  position: absolute;
  left: 0;
  top: 3px;
}

/* ABOUT PRODUCT SECTION DESIGN END */

/* SINGLE PRODUCT SECTION DESIGN START */
.single-product-section {
  margin-bottom: 135px;
}

.single-product-container {
  display: grid;
  grid-template-columns: 604px 606px;
  justify-content: center;
  align-items: center;
}

.single-product-content-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #f8f5ff;
  padding: 105px 78px;
}

.single-product-tile {
  color: var(--color-text-primary);
  line-height: 140%;
  font-weight: 600;
  width: 340px;
  margin-bottom: 13px;
}

.single-product-inner-title {
  color: var(--color-primary);
}

.single-product-desc {
  color: var(--color-paragraph);
  line-height: 190%;
  font-size: 16px;
  letter-spacing: 0%;
  margin-bottom: 27px;
}

.single-product-btn {
  background-color: var(--color-primary);
  color: white;
  padding: 10px 20px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}
/* SINGLE PRODUCT SECTION DESIGN END */

/* REVIEW SECTION DESIGN START */

.review-section {
  margin-bottom: 135px;
}

.review-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  align-items: center;
}

.review-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-right: 72px;
  border-right: 1px solid var(--color-paragraph);
}

.review-active {
  border: none;
}

.review-counter {
  color: var(--color-primary);
  font-size: 70px;
  margin-bottom: 10px;
}

.review-title {
  font-size: 20px;
  color: var(--color-paragraph);
}
/* REVIEW SECTION DESIGN END */

/* BLEMISH SECITON END */
.review-title,
.product-desc,
.product-info,
.product-bundle-heading,
.product-saving-title {
  color: var(--color-paragraph);
}

/* Line height */
.product-saving-title,
.pack-title,
.product-bundle-heading,
.product-info,
.price,
.product-saving-price,
.btn-primary,
.company-policy-title,
.product-faq-title,
.brand-subtitle,
.bonas-title,
.brand-heading,
.blemish-sub-heading,
.single-product-btn,
.review-counter,
.review-title {
  line-height: 100%;
  letter-spacing: 0%;
}

/* ===================== RESPONSIVE ===================== */

/* Laptop */
@media (max-width: 1200px) {
  .product-container {
    column-gap: 20px;
  }

  .mySwiper,
  .mySwiper swiper-slide img {
    width: 500px;
    height: 480px;
  }

  .mySwiper2 swiper-slide {
    width: 95px !important;
    height: 95px !important;
  }

  .product-heading,
  .price {
    font-size: 22px;
  }

  .company-policy-container {
    row-gap: 30px;
  }

  .brand-heading-title {
    font-size: 44px;
    max-width: 800px;
  }

  .brand-content-container {
    grid-template-columns: 1fr;
    row-gap: 40px;
    justify-items: center;
    margin: 60px 0 90px 0;
  }

  .bonas-desc {
    max-width: 400px;
    margin-inline: auto;
  }

  .brand-logo-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .single-product-container {
    grid-template-columns: 504px 506px;
  }

  .single-product-content-container {
    padding: 90px 50px;
  }
}

/* Tablet */
@media (max-width: 992px) {
  .product-container {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }

  .product-images-container {
    align-items: center;
  }

  .product-gallery {
    width: 100%;
    max-width: 500px;
    padding: 0 15px;
  }

  .mySwiper,
  .mySwiper swiper-slide img {
    width: 100%;
    height: auto;
  }

  .mySwiper2 {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .mySwiper2 swiper-slide {
    width: 90px !important;
    height: 90px !important;
  }

  .product-heading,
  .price,
  .product-desc {
    text-align: center;
  }

  .company-policy-container {
    justify-content: center;
    gap: 25px;
  }

  .product-bundle-cards {
    justify-content: center;
  }

  .brand-heading-title {
    max-width: 660px;
    margin: 50px 0 34px 0;
  }

  .brand-logo-container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
  }

  .brand-video-section {
    padding: 70px 0;
  }

  .brand-play-btn {
    width: 70px;
    height: 70px;
  }

  .blemish-heading {
    font-size: 38px;
    margin-bottom: 20px;
  }

  .about-products-section {
    margin: 70px 0;
  }

  .about-products-container {
    grid-template-columns: 1fr;
  }

  .single-product-container {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .single-product {
    width: 100%;
  }

  .review-container {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  .review-content {
    padding-left: 0;
    padding-bottom: 30px;
    border-right: none;
  }
}

/* Mobile */
@media (max-width: 576px) {
  html,
  body {
    overflow-x: hidden;
  }

  .product-details {
    padding: 60px 0 40px 0;
  }

  .product-gallery {
    width: 100%;
    padding: 0 10px;
  }

  .mySwiper,
  .mySwiper swiper-slide img {
    width: 100%;
    height: auto;
  }

  .mySwiper2 {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .mySwiper2 swiper-slide {
    width: 75px !important;
    height: 75px !important;
  }

  .product-heading {
    font-size: 22px;
  }

  .price {
    font-size: 20px;
  }

  .product-desc {
    font-size: 14px;
  }

  .btn-primary {
    padding: 16px 0;
    font-size: 16px;
  }

  .company-policy-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .product-bundle-cards {
    flex-direction: column;
    gap: 20px;
  }

  .brand-heading-title {
    font-size: 30px;
    margin: 50px 0 28px 0;
  }

  .brand-subtitle {
    font-size: 16px;
  }

  .brand-subtitle-container {
    gap: 16px;
  }

  .brand-image-container {
    width: 300px;
    height: 480px;
  }

  .brand-content-container {
    margin: 40px 0 40px 0;
  }

  .brand-logo-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 20px;
  }

  .brand-play-btn {
    width: 50px;
    height: 50px;
  }

  .brand-video-section {
    padding: 50px 0;
  }

  .blemish-heading {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .about-products-section {
    margin: 50px 0;
  }
}
